// Vanya
$btn-color: #8d81ac;
$grey: #848e97;
$font-montserrat: "Montserrat", sans-serif;
$font-lato: "Lato", sans-serif;
$landscape-mobile-normal: 400px;
$landscape-mobile-big: 480px;
$landscape-tablet: 992px;
$landscape-desktop: 1200px;

// Olena
$titleColor: #635C73;
$titleColor2: #8D81AC;
$titleColor3: #FFF;
$txtColor: #323232;
$getTitleColor: #323232;
$getTxtColor: #848E97;
$getBG: #F4F4F4;
$bgColor: #4B3B4E;
$cardHeadBg: rgba(255, 255, 255, 0.06);
$cardBodyBg: rgba(255, 255, 255, 0.11);
$cardTxtColor: #fff;
$cardLineColor: #8D81AC;
$cardBtnBg: rgba(255, 255, 255, 0.15);
$cardHeadPriorBg: #3F2C41;
$cardBodyPriorBg: #463048;