$btn-color: #8d81ac;
$grey: #848e97;
$font-montserrat: "Montserrat", sans-serif;
$font-lato: "Lato", sans-serif;
$landscape-mobile-normal: 400px;
$landscape-mobile-big: 480px;
$landscape-tablet: 992px;
$landscape-desktop: 1200px;