.section-title2 {
    color: $titleColor2;
    text-align: center;
    font-size: 32px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 38px;
}

.get__grid {
    margin-top: 37px;
    margin-bottom: 66px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 37px;
}

.get__item {
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center;

    &__img {
        margin: 0 auto 27px auto;
    }

    &__title {
        margin-bottom: 16px;
        color: $getTitleColor;
        font-size: 16px;
        font-family: 'Montserrat';
        text-align: center;
    }

    &__txt {
        padding: 0 15px;
        color: $getTxtColor;
        font-size: 14px;
        font-family: 'Lato';
        line-height: 21px;
        text-align: center;
    }
}

.get__img {
    margin-left: auto;
}